:host.expanded .block {
  height: 16em;
}

.block {
  width: 6em;
  height: 3em;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border: .15em solid #ff5a00;
  border-radius: .5em;
  background-color: #ffffff;
  transition: height .3s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

:host.expanded .member {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  transition-delay: .3s;
}

.member {
  opacity: 0;
}

.team-name {
  margin-top: .2em;
  margin-bottom: .2em;
}

