.block {
  width: 8em;
  height: 3em;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border: .25em solid #ff5a00;
  border-radius: .5em;
  background-color: #ffffff;
}

.block:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

h4 {
  margin-top: .5em;
  margin-bottom: .5em;
}
