.open-button {
  border-top: 1px solid #999999;
  padding-top: .25em;
  margin-top: .25em;
  font-size: .75em;
}

.open-button:hover {
  color: #ff5a00;
}

.overlay {
  cursor: default;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(77, 77, 77, 0.42);
}

.main-block {
  position: relative;
  min-height: 32.5em;
  background-color: #ffffff;
  border: .25em solid #ff5a00;
  border-radius: 1em;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.profile {
  text-align: left;
  margin: 0 3em 0 3em;
  width: 30em;
}

.image {
  margin: 3em 0 1em 3em;
  width: 10em;
  height: 10em;
}

.data {
  height: 11.5em;
  margin: 2.5em 3em 0 3em;
  text-align: left;
}

p {
  font-size: .75em;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5em;
}

.close:hover {
  color: #ff5a00;
}
